.modal-id{
    font-weight: bold;
    font-family: 'Reenie Beanie';
    font-size: 2rem;
}

.modal-body .title{
    font-weight: bold;
    font-family: 'Reenie Beanie';
    font-size: 2rem;
    border: none;
}

.modal-footer{
    border-top: none;
}